/* Светлая тема*/

.header {
    background-color: var(--light-secondary);

    padding: 14px 16px;
    
    min-height: 69px;
}

.header__wrapper_content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--light-text-primary);
    font: var(--h2-style-mobile);

    display: flex;
    flex-direction: column;

    line-height: 19px;
}

.header__logo span {
    color: var(--light-text-muted);

    font-size: 10px;

    line-height: 10px;
}

.header__buttons_wrapper {
    display: flex;
    align-items: center;

    column-gap: 10px;
}

.header__language_button {
    background-color: var(--transparent);

    border: 1px solid var(--light-text-muted);
    border-radius: 5px;
    padding: 5px 10px;
}

.header__burger_button {
    padding: 0;

    border: none;

    background-color: var(--transparent);
}

.header__toggle_theme_button {
    display: none;
}

.header__content {
    display: flex;
    align-items: center;

    column-gap: 50px;
}

.header__nav {
    display: none;

    font-family: var(--font-inter);
    font-weight: var(--fw-medium);
    font-size: var(--text-base);

    color: var(--light-text-secondary);
}

@media (min-width: 1440px) {
    .header {
        margin: 0 auto;
        padding: 32px 50px;
    }

    .header__nav {
        display: block;
    }

    .header__nav_list {
        display: flex;
        align-items: center;
        column-gap: 32px;
    }

    .header__burger_button {
        display: none;
    }

    .header__toggle_theme_button {
        display: block;
    }
}
