/* Светлая тема*/
.header {
    background-color: var(--theme-bg);

    padding: 14px 16px;
    
    min-height: 69px;

    position: fixed;  top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo_wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__wrapper_content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo_icon {
    width: 122px;
    height: 40px;

    background-image: url('../../../../images/logo/logo-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__button_language {
    font-family: var(--font-inter);
    font-size: var(--text-lg);

    /* color: var(--light-text-primary); */
    color: var(--theme-text-color);
}

.header__buttons_wrapper {
    display: flex;
    align-items: center;

    column-gap: 10px;
}

.header__button {
    width: 36px;
    height: 36px;

    border: none;
    border-radius: 8px;

    color: var(--header-btn);

    background-color: var(--header-btn-bg);
}

.header__theme_button svg {
    color: var(--light-text-primary);
}

.header__content {
    display: flex;
    align-items: center;

    column-gap: 50px;
}

.header__nav {
    display: none;

    font-family: var(--font-inter);
    font-weight: var(--fw-medium);
    font-size: var(--text-base);

    color: var(--light-text-secondary);
}

@media (min-width: 1440px) {
    .header {
        /* margin: 0 auto; */
        padding: 32px 50px;
    }

    .header__logo_icon {
        width: 234px;
        height: 42px;
        background-image: url('../../../../images/logo/logo-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .header__nav {
        display: block;
    }

    .header__nav_list {
        display: flex;
        align-items: center;
        column-gap: 32px;
    }

    .header__burger_button {
        display: none;
    }
}
