.footer {
    text-align: center;

    min-height: 88px;

    border-top: 1px solid var(--border-color);

    box-shadow: 0px -4px 20px  var(--border-shadow-color); 
    opacity: 30%;

    background-color: var(--bacground-color-surface);

    padding: 31px 0 32px 0;
}

.footer__text {
    line-height: 19px;

    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-regular);

    color: var(--footer-text-color);
}