

.section_fast_pick {
    margin-top: 23px;
    margin-bottom: 51px;

    min-height: 500px;
}

/* Filtration */
.section_fast_pick__title {
    font: var(--h2-style-mobile);
    
    color: var(--color-title);

    margin-bottom: 16px;
}

.section_fast_pick__filter_wrapper {
    border: 1px solid var(--border-color);
    border-radius: 16px;

    box-shadow: 0px 4px 6px var(--border-shadow-color);

    padding: 15px;
    margin-bottom: 16px;
}

.section_fast_pick__info_text {
    margin-bottom: 15px;

    font: var(--h3-style-mobile);

    color: var(--color-title);
}

.section_fast_pick__filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.section_fast_pick__filter_title {
    font: var(--h3-style-mobile);

    color: var(--color-title);
}

.section_fast_pick__button_reset {
    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-regular);

    color: var(--light-accent);

    background-color: var(--transparent);

    border: none;

    text-decoration: underline;
    text-underline-offset: 4px;
}

.section_fast_pick__search {
    margin-bottom: 15px;
}

.section_fast_pick__filter_names {
    display: block;

    margin-bottom: 8px;

    color: var(--color-text);

    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-medium);
}

.section_fast_pick__search_wrapper {
    position: relative;

    margin-bottom: 15px;
}

.section_fast_pick__wrapper {
    margin-bottom: 15px;
}

.section_fast_pick__search_input {

}

.section_fast_pick__search_input::placeholder {
    font-family: var(--font-inter);
}

.section_fast_pick__icon_search {
    width: 16px;
    height: 16px;

    color: var(--light-text-muted);

    position: absolute;
    top: 12px;
    left: 12px;
}

.section_fast_pick__filter_button {
    background-color: var(--btn-bg-color);
    color: var(--color-text);

    border: 1px solid var(--border-btn);

    font-size: var(--text-xs);
}

.section_fast_pick__filter_button_level {
    padding: 8px 15px;
}

.section_fast_pick__filter_button_duration {
    width: 176px;

    padding: 8px 15px;
}

.section_fast_pick__input_price_wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 3px;
}

.section_fast_pick__input_price_wrapper p {
    color: var(--color-text);

    font-size: var(--text-xs);
    font-family: var(--font-inter);
}

/* Tours card */
.section_fast_pick__card {
    border: 1px solid var(--border-color);
    border-radius: 16px;
    
    overflow: hidden;

    box-shadow: 0px 4px 6px var(--border-shadow-color);

    margin-bottom: 17px;
}

.section_fast_pick__img {
    height: 180px;
    width: 100%;

    object-fit: cover;
}

.section_fast_pick__card_level {
    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-bold);

    display: flex;
    justify-content: center;

    padding: 4px 10px;
    
    border-radius: 16px;
}

.section_fast_pick__card_level[data-level="beginner"] {
    background-color: var(--level-beginner-bg);
    color: var(--level-color-text);
    box-shadow: 0px 0px 15px var(--level-shadow-beginner);
}

.section_fast_pick__card_level[data-level="Average"] {
    background-color: var(--level-average-bg);
    color: var(--level-color-text);
    box-shadow: 0px 0px 15px var(--level-shadow-average);
}

.section_fast_pick__card_level[data-level="Pro"] {
    background-color: var(--level-pro-bg);
    color: var(--level-color-text);
    box-shadow: 0px 0px 15px var(--level-shadow-pro);
}

.section_fast_pick__card_level[data-level="Crazy"] {
    background-color: var(--level-expert-bg);
    color: var(--level-color-text);
    box-shadow: 0px 0px 15px var(--level-shadow-expert);
}

.section_fast_pick__card_level.level_pro_crazy {
    color: var(--level-pro-crazy-text);
}

.section_fast_pick__days {
    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-regular);

    color: var(--light-text-muted);
}

.section_fast_pick__card_title {
    font: var(--h3-style-mobile);

    margin-bottom: 8px;

    color: var(--color-title);
}

.section_fast_pick__card_description {
    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-regular);

    margin-bottom: 12px;

    color: var(--color-text);
}

.section_fast_pick__card_price {
    font-family: var(--font-inter);
    font-size: var(--text-2xl);
    font-weight: var(--fw-bold);

    color: var(--color-price);

    text-shadow: var(--text-shadow);
}  

.section_fast_pick__card_button {
    padding: 8px 16px;

    background-color: var(--btn);
    color: var(--btn-text);
    box-shadow: var(--box-shadow)
}


.section_fast_pick__button_more_details {
    padding: 8px 16px;
    width: 100%;

    background-color: var(--btn);
    color: var(--btn-text);
    box-shadow: var(--box-shadow)
}  

@media (max-width: 423px) {
    .section_fast_pick__filter_button_duration {
        width: 157px;
    }
}
