.section_fast_pick__title {
    font: var(--h2-style-mobile);
    
    color: var(--light-text-primary);

    margin-bottom: 16px;
}

.section_fast_pick__filter_wrapper {
    border: 1px solid var(--light-border);
    border-radius: 16px;

    padding: 15px;
}

.section_fast_pick__filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.section_fast_pick__filter_title {
    font: var(--h3-style-mobile);

    color: var(--light-text-primary);
}

.section_fast_pick__filter_button {
    font-family: var(--font-inter);
    font-size: var(--text-xs);
    font-weight: var(--fw-regular);

    color: var(--light-accent);

    background-color: var(--transparent);

    border: none;

    text-decoration: underline;
    text-underline-offset: 4px;
}

.section_fast_pick__search_label {
    display: block;
}

.section_fast_pick__search_input {
    width: 100%;
}