.main_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    border: none;
    border-radius: 12px;

    text-decoration: none;

    font-family: var(--font-inter);
    font-weight: var(--fw-semibold);
}
