.main_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    border: none;
    border-radius: 12px;

    text-decoration: none;

    font-family: var(--font-inter);
    font-weight: var(--fw-semibold);
}

.main_button.main_button_filtered_active {
    background-color: var(--btn);
    color: var(--btn-text);
}

